fastapi>=0.110.0
uvicorn>=0.28.0
python-multipart
pydantic>=2.6.0
pydantic[email]
email-validator
pymongo
dnspython
bcrypt
cloudinary
pytesseract
cryptography
python-dotenv
Pillow
opencv-python-headless
qrcode[pil]
fpdf2
validators
requests
slowapi
